<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Calcula Data</title>
</h:head>

<h:body>
	<h:form id="frm">
		<h:messages showDetail="true" showSummary="false" />
        <!--  Converte dia
         <h:inputText size="12" value="#{calculaDataBean.dataBase}" converter="smartDate"/> 
        -->
        
		<h:inputText size="12" value="#{calculaDataBean.dataBase}" converter="smartDate">
			<f:convertDateTime pattern="dd/MM/yyyy"
			timezone= "America/Sao_Paulo"/>
			<f:validator validatorId="diaUtil"/>
		</h:inputText>
			
	+
	<h:inputText size="12" value="#{calculaDataBean.dias}" />
	dias =
	<!-- A data de resultado será exibida em um estilo completo, em português brasileiro.
    Usamos as propriedades dateStyle e locale para configurar isso. -->

		<h:outputText value="#{calculaDataBean.resultado}">
			<f:convertDateTime dateStyle="full" locale="pt_BR" />
		</h:outputText>
		<br />
		<h:commandButton value="Calcular"
			action="#{calculaDataBean.adicionar}" />



	</h:form>

</h:body>




</html>