<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://xmlns.jcp.org/jsf/core"
xmlns:h="http://xmlns.jcp.org/jsf/html">


	<h:head>
		<title>Calculadora</title>
	</h:head>

   <h:body>
   		<h:form id="frm">
   		
   			<h:messages/>
   			
   			<h:inputText size="12" value="#{calculadoraBean.valorA}" required="true">
   				<f:convertNumber minFractionDigits="2" maxFractionDigitis="2"
   				locale="pt_BR" />
   			</h:inputText>
   			+
   			<h:inputText size="12" value="#{calculadoraBean.valorB}" required="true">
   				<f:convertNumber minFractionDigits="2" maxFractionDigitis="2"
   				locale="pt_BR"/>
   			</h:inputText>
   			=
   			<h:inputText value="#{calculadoraBean.resultado}">
  			<f:convertNumber type="currency" locale="pt_BR"/>
   			</h:inputText>
   			<h:commandButton value="Somar" action="#{calculadoraBean.somar}"/>
   		</h:form>
   </h:body>

	<!-- Inclui a tag <f:convertNumber> nos campos de entrada e especifiquei  que as
	casas decimais podem ter no mínimo e no máximo 2 dígitos, além de especificar o
	locale brasileiro, que forçará o uso de vírgulas para separação decimal. -->


</html>